# Ignore everything
**

# Explicitly allow certain files/directories as exceptions
!Dockerfile
!.dockerignore
!Makefile
!data/*.sh
!data/*.py
!include/**
!scripts/**/*.sh
!scripts/**/*.py
!src/**
!test/**
