# Ignore everything
**

# Explicitly allow certain files/directories as exceptions
!Dockerfile
!.dockerignore
!Makefile
!aec/**
!bench/vmres.tar.gz
!data/*.sh
!data/*.py
!include/**
!scripts/**
!src/**
!test/**
